{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    <nav id="main">
      <div class="header">
        <strong>Meus eventos</strong>
        <a href="/signout">Sair</a>
      </div>

      <div class="categories">
        <strong>Eventos</strong>

        <ul>
          {% for event in events %}
            <li>
              <a href="">
                {{ event.nome }}
                <span>3</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        <a href="">Novo Evento</a>
      </div>
    </nav>
  </div>
{% endblock %}
