{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    <nav id="main">
      <div class="header">
        <strong>Meus eventos</strong>
        <a href="/signout">Sair</a>
      </div>

      <div class="categories">
        <strong>Eventos</strong>

        <ul>
          <li>
          <a href="">
            Evento
            <span>1</span>
          </a>
        </ul>
        <a href="">Novo Evento</a>
      </div>
    </nav>
  </div>
{% endblock %}
